# Stafford Motor Speedway SK Modified Feature Race Results Cleaned and Formatted for the 2016-2020 (September 4th, 2020) Seasons

In [359]:
#Import dependencies

import requests
import bs4
import pandas as pd
import os
import math
import pickle

# from datetime import datetime
# import re
# import tweepy
# import time

# URLS for Archive pages of race result postings

In [360]:
# Sk Modified Feature Results by year

results_2020 = "https://staffordmotorspeedway.com/category/results/2020-sk-modified-results/"
results_2020_2 = "https://staffordmotorspeedway.com/category/results/2020-sk-modified-results/page/2/"

results_2019 = "https://staffordmotorspeedway.com/category/results/2019-sk-modified-results/"
results_2019_2 = "https://staffordmotorspeedway.com/category/results/2019-sk-modified-results/page/2/"
results_2019_3 = "https://staffordmotorspeedway.com/category/results/2019-sk-modified-results/page/3/"

results_2018 = "https://staffordmotorspeedway.com/category/results/2018-sk-modified-results/"
results_2018_2 = "https://staffordmotorspeedway.com/category/results/2018-sk-modified-results/page/2/"
results_2018_3 = "https://staffordmotorspeedway.com/category/results/2018-sk-modified-results/page/3/"

results_2017 = "https://staffordmotorspeedway.com/category/results/2017-sk-modified-results/"
results_2017_2 = "https://staffordmotorspeedway.com/category/results/2017-sk-modified-results/page/2/"

results_2016 = "https://staffordmotorspeedway.com/category/results/2016-sk-modified-results/"
results_2016_2 = "https://staffordmotorspeedway.com/category/results/sk-modified-results/2016-sk-modified-results/page/2/"


# Race Result URLs in List

# results_list = (results_2016, results_2016_2, results_2017, results_2017_2, results_2018, results_2018_2, results_2018_3, results_2019, results_2019_2, results_2019_3, results_2020, results_2020_2)

results_list_2016 = (results_2016, results_2016_2)

results_list_2017 = (results_2017, results_2017_2)

results_list_2018 = (results_2018, results_2018_2, results_2018_3)

results_list_2019 = (results_2019, results_2019_2, results_2019_3)

results_list_2020 = (results_2020, results_2020_2)

results_list_years = (results_list_2016, results_list_2017, results_list_2018, results_list_2019, results_list_2020)

## Getting each individual race URL and Title
- doing each year seperately

In [361]:
race_urls_2016 = []
race_urls_2017 = []
race_urls_2018 = []
race_urls_2019 = []
race_urls_2020 = []

# Getting Page of all Race Results
for year in results_list_years:
    for link in year:
        archivePage = requests.get(link)
        archiveSoup = bs4.BeautifulSoup(archivePage.text, "html.parser")
        resultsHTML = archiveSoup.find_all(itemprop="url")
        # print(resultsHTML)

        for i in resultsHTML:
            if year == results_list_2016:
                race_urls_2016.append(i)
                # print(i['href'])
            elif year == results_list_2017:
                race_urls_2017.append(i)
            elif year == results_list_2018:
                race_urls_2018.append(i)
            elif year == results_list_2019:
                race_urls_2019.append(i)
            elif year == results_list_2020:
                race_urls_2020.append(i)
            else:
                print('year not in list')

In [362]:
race_urls_list = (race_urls_2016, race_urls_2017, race_urls_2018, race_urls_2019, race_urls_2020)
test = 0

# Check total num of races is correct (minus the 3)
for year in race_urls_list:
    test = test + len(year)
print(test) # 86 as of 9-4-2020 ()

86

### Saving Race URLS to pickle files

In [364]:
# Fix recursion limit
import sys
sys.setrecursionlimit(10000)

object_pi = math.pi

for year in race_urls_list:
    if year == race_urls_2016:
        file_pi = open('url_2016.pickle', 'wb') 
        pickle.dump(race_urls_2016, file_pi)
    elif year == race_urls_2017:
        object_pi = math.pi
        file_pi = open('race_url_2017.pickle', 'wb') 
        pickle.dump(race_urls_2017, file_pi)
    elif year == race_urls_2018:
        file_pi = open('race_url_2018.pickle', 'wb') 
        pickle.dump(race_urls_2018, file_pi)
    elif year == race_urls_2019:
        file_pi = open('race_url_2019.pickle', 'wb') 
        pickle.dump(race_urls_2019, file_pi)
    elif year == race_urls_2020:
        file_pi = open('race_url_2020.pickle', 'wb') 
        pickle.dump(race_urls_2020, file_pi)
    else:
        print('error')

### Reading in Pickle Files
- 86 total races from 2016-2020 (up to 9-4-2020)
- 2017 september 15th race results missing

In [365]:
for year in race_urls_list:
    if year == race_urls_2016:
        file_pi = open('race_url_2016.pickle', 'rb') 
        url2016 = pickle.load(file_pi)
    elif year == race_urls_2017:
        file_pi = open('race_url_2017.pickle', 'rb') 
        url2017 = pickle.load(file_pi)
    elif year == race_urls_2018:
        file_pi = open('race_url_2018.pickle', 'rb') 
        url2018 = pickle.load(file_pi)
    elif year == race_urls_2019:
        file_pi = open('race_url_2019.pickle', 'rb') 
        url2019 = pickle.load(file_pi)
    elif year == race_urls_2020:
        file_pi = open('race_url_2020.pickle', 'rb') 
        url2020 = pickle.load(file_pi)
    else:
        print('error')

In [366]:
# List of race URLs
url_list = [url2016, url2017[3:], url2018, url2019, url2020]
# url_list = ('url2016')

# Getting race Results from URLS

In [367]:
count = 0
for year in url_list:
    count += 1
    # Initialize dataframe
    df = pd.DataFrame()
    # Initialize lists
    A = []
    B = []
    C = []
    D = []

    for i in year:
        # print(i['href'])
        resultsURL = i['href']
        title = i.string

        # Use most recent race URL to see results of race
        resultsPage = requests.get(resultsURL)
        resultsSoup = bs4.BeautifulSoup(resultsPage.text, "html.parser")
        resultsData = resultsSoup.find(class_= "row-hover")
        if count == 1:
            for row in resultsData.findAll("tr"):
                cells = row.findAll('td')
                A.append(cells[0].find(text=True))
                B.append(0)
                C.append(cells[1].find(text=True))
                D.append(title.string)
        else:
            for row in resultsData.findAll("tr"):
                cells = row.findAll('td')
                # drivers = row.findAll('th')
                A.append(cells[0].find(text=True))
                B.append(cells[1].find(text=True))
                C.append(cells[2].find(text=True))
                D.append(title.string)

    # Convert Lists to DataFrame
    df['Title'] = D
    df['Finish'] = A
    df['Start'] = B
    df['Driver'] = C

    if count == 1:
        df2016 = df
    elif count == 2:
        df2017 = df
    elif count == 3:
        df2018 = df
    elif count == 4:
        df2019 = df
    elif count == 5:
        df2020 = df
    else:
        print('error')
        
# df.head()
# df.tail()

In [368]:
dfsum = len(df2016) + len(df2017) + len(df2018) + len(df2019) + len(df2020)
print(dfsum)

1959

In [369]:
# df2016.info()
# df2017.info()
# df2018.info()
# df2019.info()
# df2020.info()

## Fill in missing 3 races from 2017

#### Getting results from website for 2/3 races
- 2017 Napa Fall Final
- 2017 September 17

In [370]:
links = ['https://staffordmotorspeedway.com/2017-napa-fall-final-sk-modified-feature-results/', 'https://staffordmotorspeedway.com/september-22-2017-sk-modified-feature-results/', ]

count = 0
for url in links:
    count += 1
    # Initialize dataframe
    df = pd.DataFrame()
    # Initialize lists
    A = []
    B = []
    C = []
    D = []

    resultsPage = requests.get(url)
    resultsSoup = bs4.BeautifulSoup(resultsPage.text, "html.parser")
    resultsData = resultsSoup.find(class_= "row-hover")

    for row in resultsData.findAll("tr"):
        cells = row.findAll('td')
        # drivers = row.findAll('th')
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        if count == 1:
            D.append('October 1, 2017 NAPA Fall Final SK Modified® Feature Results')
        elif count == 2:
            D.append('September 22, 2017 SK Modified® Feature Results')
        else:
            print('error 1')

    # Convert Lists to DataFrame
    df['Title'] = D
    df['Finish'] = A
    df['Start'] = B
    df['Driver'] = C

    # Create Dataframe for race data and append to 2017 df
    if count == 1:
        df2017_final = df
        df2017 = df2017.append(df2017_final)
    elif count == 2:
        df2017_sep22 = df
        df2017 = df2017.append(df2017_sep22)
    else:
        print('error 2')

In [371]:
df2017_final.info()
df2017_sep22.info()
# df2017_final
# df2017_sep22

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   24 non-null     object
 1   Finish  24 non-null     object
 2   Start   24 non-null     object
 3   Driver  24 non-null     object
dtypes: object(4)
memory usage: 896.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   21 non-null     object
 1   Finish  21 non-null     object
 2   Start   21 non-null     object
 3   Driver  21 non-null     object
dtypes: object(4)
memory usage: 800.0+ bytes

#### Manually Entering Results for last missing race
- September 15 2017

In [372]:
# Manually Adding September 15th
final = [[1,'Matt Galko'], [2,'Chase Dowling'], [3,'Ryan Preece'], [4,'Ted Christopher'], [5,'Glen Reen'], [6,'Tom Bolles'],
        [7,'Rowan Pennink'], [8,'Michael Gervais Jr.'], [9,'Keith Rocco'], [10,'Michael Chistopher Jr.'], [11,'Joey Ciprianno'],
        [12,'Josh Wood'], [13,'Ronnie Williams'], [14,'Cam Mcdermott'], [15,'Dan Avery'], [16,'Tyler Hines'],
        [17,'Tommy Membrino Jr.'], [18,'Stephen Kopcik'], [19,'Eric Berndt'], [20,'Nick Salva'], [21,'Todd Owen'],
        [22,'Tony Membrino Jr.'], [23,'DJ Burnham'], [24,'Joey Mucciacchairo Jr.'], [25,'Payton Henry'], [26,'John Cantana']]

# Initializing Lists
A = []
B = []
C = []
D = []

for start, driver in final:
    A.append(start)
    B.append(0)
    C.append(driver)
    D.append('September 15, 2017 SK Modified® Feature Results')

# Initialize dataframe
df2017_sep15 = pd.DataFrame()

# Convert Lists to DataFrame
df2017_sep15['Title'] = D
df2017_sep15['Finish'] = A
df2017_sep15['Start'] = B
df2017_sep15['Driver'] = C

# Append Sep 15 2017 Race data to 2017 df
df2017 = df2017.append(df2017_sep15)

In [373]:
df2017_sep15.info()
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   26 non-null     object
 1   Finish  26 non-null     int64
 2   Start   26 non-null     int64
 3   Driver  26 non-null     object
dtypes: int64(2), object(2)
memory usage: 960.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 0 to 25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   395 non-null    object
 1   Finish  395 non-null    object
 2   Start   395 non-null    object
 3   Driver  395 non-null    object
dtypes: object(4)
memory usage: 15.4+ KB

#### Total Number of entries:
- As of September 4th 2020
- 2030

In [18]:
# df2017.info()
# df2017_final.info()
# df2017_sep22.info()
# df2017_sept15.info()

In [374]:
# df2016.info()
# df2017.info()
# df2018.info()
# df2019.info()
# df2020.info()
# print("Total Entries")
print(len(df2016) + len(df2017) + len(df2018) + len(df2019) + len(df2020))

2030

### Save Yearly Race Results to csv

In [375]:
# df2016.to_csv('df2016.csv')
# df2017.to_csv('df2017.csv')
# df2018.to_csv('df2018.csv')
# df2019.to_csv('df2019.csv')
# df2020.to_csv('df2020.csv')

In [379]:
### Reading Yearly Race Results CSV

df2016 = pd.read_csv('df2016.csv', sep = ",", index_col = 0)
df2017 = pd.read_csv('df2017.csv', sep = ",", index_col = 0)
df2018 = pd.read_csv('df2018.csv', sep = ",", index_col = 0)
df2019 = pd.read_csv('df2019.csv', sep = ",", index_col = 0)
df2020 = pd.read_csv('df2020.csv', sep = ",", index_col = 0)

# Adding in Missing Dates for Races
- 2016 Napa Fall Final
- 2016 Napa Spring Sizzler
- 2016 Sept. 2
- 2017 Napa Fall Final # Already Fixed
- 2017 Napa Spring Sizzler
- 2018 Napa Fall Final
- 2018 Spring Sizzler
- 2019 Napa Fall Final
- 2019 Napa Spring Sizzler # Alreact correct

In [403]:
# 2016 Napa Fall Final
df2016 = df2016.replace({'Title': '2016 NAPA Fall Final SK Modified® Feature'}, {
    'Title': 'October 9, 2016 NAPA Fall Final SK Modified® Feature'})

# 2016 Napa Spring Sizzler
df2016 = df2016.replace({'Title': '2016 NAPA Spring Sizzler® SK Modified® Feature Results'}, {
    'Title': 'April 24, 2016 NAPA Spring Sizzler® SK Modified® Feature Results'})

# 2016 Septembre 2nd
df2016 = df2016.replace({'Title': 'Sept. 2, 2016 VMRS 80 SK Modified Feature'}, {
    'Title': 'September 2, 2016 VMRS 80 SK Modified Feature'})

# 2017 Napa Spring Sizzler
df2017 = df2017.replace({'Title': '2017 NAPA Spring Sizzler® SK Modified® Feature Results'}, {
    'Title': 'April 30, 2017 NAPA Spring Sizzler® SK Modified® Feature Results'})

# 2018 Napa Fall Final
df2018 = df2018.replace({'Title': '2018 NAPA Fall Final SK Modified® Feature Results'}, {
    'Title': 'September 30, 2018 NAPA Fall Final SK Modified® Feature Results'})

# 2018 Napa Spring Sizzler
df2018 = df2018.replace({'Title': '2018 NAPA Spring Sizzler® SK Modified® Feature Results'}, {
    'Title': 'April 29, 2018 NAPA Spring Sizzler® SK Modified® Feature Results'})

# 2019 Napa Fall Final
df2019 = df2019.replace({'Title': '2019 NAPA Fall Final SK Modified® Feature Results'}, {
    'Title': 'September 29, 2019 NAPA Fall Final SK Modified® Feature Results'})

# Formatting Title Column

In [404]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410 entries, 0 to 409
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   410 non-null    object
 1   Finish  410 non-null    object
 2   Start   410 non-null    int64
 3   Driver  410 non-null    object
dtypes: int64(1), object(3)
memory usage: 16.0+ KB

In [405]:
# List of Dataframes
df_list = [[df2016, '2016'], [df2017, '2017'], [df2018, '2018'], [df2019, '2019'], [df2020, '2020']]
# year_list = ['2016', '2017', '2018', '2019', '2020']

count = 0
for i,j in df_list:
    count += 1
    # Cleanp symbols and formatting
    i['Title'] = i['Title'].replace(r'®', r'', regex = True)
    i['Title'] = i['Title'].replace(r'sk', r'SK', regex=True)
    # print(i['Title'])

    # Split SK Modified Feature from title column
    df1 = i['Title'].str.rsplit('SK', expand = True, n=1)
    df1[1] = 'SK' + df1[1]
    # print(df1)

    # Split Year from title column
    df2 = df1[0].str.split(j, expand = True)
    df2[0] = df2[0].astype(str) + j
    # print(df2)

    # Combine the dataframes and drop duplicate column
    df3 = pd.concat([df2, df1, i], ignore_index=True, axis = 1).drop([2,4], axis = 1).rename(
        columns={0: "Date", 1: "Event", 3: "Feature", 5: "Finish", 6: "Start", 7: "Driver"})
   
    if count == 1:
        # df2016format = pd.DataFrame()
        df2016format = df3
    elif count == 2:
        df2017format = df3
    elif count == 3:
        df2018format = df3
    elif count == 4:
        df2019format = df3
    elif count == 5:
        df2020format = df3
    else:
        print('error')

In [407]:
# df2016

In [408]:
df2016format.info()
df2017format.info()
df2018format.info()
df2019format.info()
df2020format.info()
print(len(df2016format) + len(df2017format) + len(df2018format) + len(df2019format) + + len(df2020format))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410 entries, 0 to 409
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     410 non-null    object
 1   Event    410 non-null    object
 2   Feature  410 non-null    object
 3   Finish   410 non-null    object
 4   Start    410 non-null    int64
 5   Driver   410 non-null    object
dtypes: int64(1), object(5)
memory usage: 22.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 0 to 25
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     395 non-null    object
 1   Event    395 non-null    object
 2   Feature  395 non-null    object
 3   Finish   395 non-null    int64
 4   Start    395 non-null    int64
 5   Driver   395 non-null    object
dtypes: int64(2), object(4)
memory usage: 21.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 482
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     483 non-null    object
 1   Event    483 non-null    object
 2   Feature  483 non-null    object
 3   Finish   483 non-null    int64
 4   Start    483 non-null    int64
 5   Driver   483 non-null    object
dtypes: int64(2), object(4)
memory usage: 26.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 508 entries, 0 to 507
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     508 non-null    object
 1   Event    508 non-null    object
 2   Feature  508 non-null    object
 3   Finish   508 non-null    int64
 4   Start    508 non-null    int64
 5   Driver   508 non-null    object
dtypes: int64(2), object(4)
memory usage: 27.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 0 to 233
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     234 non-null    object
 1   Event    234 non-null    object
 2   Feature  234 non-null    object
 3   Finish   234 non-null    int64
 4   Start    234 non-null    int64
 5   Driver   234 non-null    object
dtypes: int64(2), object(4)
memory usage: 12.8+ KB
2030

In [409]:
# df2020format

# Combine Formatted Dataframes

In [410]:
# Combine dataframes
sk = pd.concat([df2016format, df2017format, df2018format, df2019format, df2020format], ignore_index=True, axis = 0)
# Save dataframes to csv
sk.to_csv('sk_formatted.csv')
sk.info()
# sk[100:150]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2030 non-null   object
 1   Event    2030 non-null   object
 2   Feature  2030 non-null   object
 3   Finish   2030 non-null   object
 4   Start    2030 non-null   int64
 5   Driver   2030 non-null   object
dtypes: int64(1), object(5)
memory usage: 95.3+ KB

# Finish formatting columns
- Date column as date
- Finish and Start as integer
- Feature every row should be the same

In [462]:
sk = pd.read_csv('sk_formatted.csv', index_col= 0)

### Create new column for Race Type

In [463]:
# Insert new column for race type
sk.insert(2, 'Race_Type', 'SK Modified Feature')
# Remove old column with name mis matches
sk.drop('Feature', axis=1, inplace=True)

In [464]:
# sk

In [465]:
sk.dtypes

Date         object
Event        object
Race_Type    object
Finish       object
Start         int64
Driver       object
dtype: object

### Format Date Column as Date

In [466]:
sk['Date'] =  pd.to_datetime(sk['Date'], format="%B %d, %Y")

### Sort Date Column in descending order

In [467]:
sk = sk.sort_values(by=['Date'], ascending=False)

In [450]:
sk.dtypes

Date         datetime64[ns]
Event                object
Race_Type            object
Finish               object
Start                 int64
Driver                int64
Rookie                int64
dtype: object

# Fixing Driver Names

### Format driver and Rookie Columns

In [473]:
# Remove " - R" from end of Driver Names to new column, considered Rookie year
sk_rookie_format = sk['Driver'].str.rsplit(r' - ', expand=True)
sk['Driver'] = sk_rookie_format[0]
sk['Rookie'] = sk_rookie_format[1]

#### Title case for driver names

In [433]:
# Title case for drivers names
sk['Driver'] = sk['Driver'].str.title()

#### Removing whitespace from beginning and end of driver names

In [496]:
# Removing extra whitespace
sk.Driver = sk.Driver.str.strip()

In [499]:
# sk

### Fix Driver Name Misspellings

In [500]:
len(sk['Driver'].unique())

123

In [546]:
# Dictionary of names that have misspellings
di = {'Cam Mcdermott': 'Cam McDermott', 
 'DJ Burnham': 'D.J. Burnham',
 'David Salzarulo': 'Dave Salzarulo',
 'Doug Meservey': 'Doug Meservey, Jr.',  
 'Joey Cipiano': 'Joey Cipriano, III', 'Joey Ciprianno': 'Joey Cipriano, III', 'Joey Cipriano': 'Joey Cipriano, III',  
 'Joey Mucciacchairo Jr.' 'Joey Mucciacciaro' 'Joey Mucciacciaro, Jr.' 'Joey Muccicciaro' 
 'Joey Ternullo': 'Joey Ternullo, Jr.', 
 'John Cantana': 'John Catania', 
 'Micheal Christopher, Jr.': 'Michael Christopher, Jr.', 'Mike Christohper, Jr.': 'Michael Christopher, Jr.', 'Mike Christopher, Jr.': 'Michael Christopher, Jr.', 'Michael Chistopher Jr.': 'Michael Christopher, Jr.',
 'Michael Gervais': 'Michael Gervais, Jr.', 'Michael Gervais Jr.': 'Michael Gervais, Jr.', 'Michael Gervias, Jr.': 'Michael Gervais, Jr.', 
 'Ted Christohper': 'Ted Christopher', 
 'Tom Able, Jr.': 'Tom Abele, Jr.', 
 'Tommy Membrino Jr.': 'Tommy Membrino, Jr.',
 'Tony Membrino Jr.': 'Tony Membrino, Jr.', 'Tony Membrino, Jr': 'Tony Membrino, Jr.'
 }

# Mapping Misspelled Names to Drivers Column
sk['Driver'] = sk['Driver'].map(di).fillna(sk['Driver'])

In [552]:
len(sk['Driver'].unique()) # Before was 123

103

- fix names being spelled wrong

In [ ]:
### Converting some columns
- Finish to int

In [569]:
# Finish Column
# Replace 'DNS' to 0 representing DID NOT START
sk['Finish'] = sk['Finish'].replace('DNS', '0')

# Convert to string then to int
sk['Finish'] = sk['Finish'].astype(str).astype(int)

In [576]:
sk.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2030 entries, 1814 to 383
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2030 non-null   datetime64[ns]
 1   Event      2030 non-null   object
 2   Race_Type  2030 non-null   object
 3   Finish     2030 non-null   int64
 4   Start      2030 non-null   int64
 5   Driver     2030 non-null   object
 6   Rookie     188 non-null    object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 206.9+ KB

# Save Final sk df to csv

In [578]:
# sk.to_csv('sk_final.csv')

In [577]:
sk

,Date,Event,Race_Type,Finish,Start,Driver,Rookie
1814,2020-09-04,,SK Modified Feature,19,23,Jeff Malave,None
1808,2020-09-04,,SK Modified Feature,13,19,Jonathan Smith,None
1821,2020-09-04,,SK Modified Feature,26,22,Tom Bolles,None
1820,2020-09-04,,SK Modified Feature,25,18,Teddy Hodgdon,R
1819,2020-09-04,,SK Modified Feature,24,5,Mikey Flynn,R
...,...,...,...,...,...,...,...
386,2016-04-24,NAPA Spring Sizzler,SK Modified Feature,7,0,Tom Bolles,None
385,2016-04-24,NAPA Spring Sizzler,SK Modified Feature,6,0,Dan Avery,None
380,2016-04-24,NAPA Spring Sizzler,SK Modified Feature,1,0,Rowan Pennink,None
384,2016-04-24,NAPA Spring Sizzler,SK Modified Feature,5,0,Ted Christopher,None
383,2016-04-24,NAPA Spring Sizzler,SK Modified Feature,4,0,Glen Reen,None